# BAIM 3220: Introduction to Python
## Quiz #6: Lists & Dictionaries
## After downloading this .ipynb file from Canvas, resave with the following naming format:
>- LastName_FirstName_Quiz6.ipynb


## When you are ready to submit your quiz, upload your .ipynb file to the Quiz#6 dropbox on Canvas

# Q1 (40 points) Create a rainbow
## In the next cell define a function, `game`, to build a rainbow
### Specifications:
*   The function must display text that tells the user "This is a program to name the colors of the rainbow"
*   You must use a `while` loop
*   Store the values in a list variable called, 'rainbow'
*   Prompt the user to enter a color for their list
*   Exit the program if the users hits `enter` without typing any characters
*   Print the users final rainbow list
      - The final list should look like: 
      - Red Orange Yellow Green Blue Purple

### Define your function in the next cell but don't call it yet

In [108]:
def game():
    print("This is a program to name the colors of the rainbow")
    
    rainbow = []
    while True:
        color = input("Please enter a color: ")
        
        if color == "":
            break
        
        rainbow.append(color)
    for color in range(len(rainbow)):
        print(f'{rainbow[color]}', end = " ")

### Call your function in the next cell

In [109]:
game()

This is a program to name the colors of the rainbow
Please enter a color: Red
Please enter a color: Orange
Please enter a color: Yellow
Please enter a color: Green
Please enter a color: Blue
Please enter a color: Purple
Please enter a color:
Red Orange Yellow Green Blue Purple

# Q2 
## The seven dwarfs lists
### Use the following list, `dwarfs`, to answer `Q2a-Q2e`

In [33]:
dwarfs = ['Happy', 'Sleepy', 'Doc', 'Bashful', 'Sneezy', 'Grumpy', 'Dopey']

## Q2a (3 points)
### In the next cell, change 'Dopey' to 'Scrappy' and output the changed list

In [34]:
dwarfs[6] = 'Scrappy'
dwarfs

['Happy', 'Sleepy', 'Doc', 'Bashful', 'Sneezy', 'Grumpy', 'Scrappy']

##  Q2b (3 points)
### In the next cell, make a copy of the dwarfs list named, `dwarfs2`, and show its value.

In [35]:
dwarfs2 = dwarfs

dwarfs2

['Happy', 'Sleepy', 'Doc', 'Bashful', 'Sneezy', 'Grumpy', 'Scrappy']

## Q2c (3 points)
### In the next cell, sort the `dwarfs2` list in descending order and show the value.

In [36]:
dwarfs2.sort(reverse= True)

dwarfs2

''' Descending order means the largest or last in the order will 
    appear at the top of the list: 
        For letters/words, the sort is alphabetical from Z to A.
        https://www.kb.blackbaud.co.uk/articles/Article/117098'''

['Sneezy', 'Sleepy', 'Scrappy', 'Happy', 'Grumpy', 'Doc', 'Bashful']

## Q2d (3 points)
### In the next cell, add a new dwarf, Hungry, to `dwarfs2` and show the new list value.

In [37]:
dwarfs2.append('Hungry')

dwarfs2

['Sneezy', 'Sleepy', 'Scrappy', 'Happy', 'Grumpy', 'Doc', 'Bashful', 'Hungry']

## Q2e (3 points)
### Insert a new dwarf, Booboo, as the second item in the list `dwarfs2` and show the new list value

In [38]:
dwarfs2.insert(1, 'Booboo')

dwarfs2

['Sneezy',
 'Booboo',
 'Sleepy',
 'Scrappy',
 'Happy',
 'Grumpy',
 'Doc',
 'Bashful',
 'Hungry']

## Q3 (40 points)
# Write a for loop to count the number of occurrences for each letter in a given string, `karl`
## Specifications
*  You must use the given string, `karl`, defined in the next cell
*  Print the keys and values in a vertical format
*  Do not count spaces

In [29]:
karl =  "I did have that inkling in the back of my mind though that my fondness for this university and getting a chance to be in this position would be a dream and it came true"

### Write your code to count the number of occurrence of each letter in the next cell

In [31]:
count = {}

for letter in karl:
    if letter != ' ':
        count.setdefault(letter, 0)
        count[letter] = count[letter] +1
print(count)

{'I': 1, 'd': 8, 'i': 14, 'h': 9, 'a': 11, 'v': 2, 'e': 11, 't': 15, 'n': 13, 'k': 2, 'l': 2, 'g': 4, 'b': 3, 'c': 4, 'o': 8, 'f': 3, 'm': 5, 'y': 3, 'u': 4, 's': 6, 'r': 4, 'p': 1, 'w': 1}

# Extra Credit (lookup question, +5 for correct response, 0 otherwise)
## Sort the values in the dictionary you defined in the previous problem in descending order
>- Your output would look like (you don't need to double space)

t 15

i 14

ect..

In [103]:
for (k,v) in sorted(count.items(), key = lambda x: x[1], reverse = True):
    print(k,v, end = '\n\n')

t 15

i 14

n 13

a 11

e 11

h 9

d 8

o 8

s 6

m 5

g 4

c 4

u 4

r 4

b 3

f 3

y 3

v 2

k 2

l 2

I 1

p 1

w 1

# Q3
## Undergraduate degrees,  placement rate, and starting salaries

## Q3a (3 points)
### In the next cell, create a dictionary, `ug`, for the undergraduate degrees (as key), placement rates, and starting salaries based on the table give below. 

<style>
table {float:left}
</style>

|Degree        | PlacementRate| Salaries |
|:-----------: |:----------:  |:--------:|
|Accounting    | 91           | 51690    |
|Finance       | 94           | 52355    |
|Info Mgmt     | 100          | 57350    |
|Marketing     | 96           | 42968    |
|Ops Mgmt      | 93           | 49279    |

In [54]:
ug = {'Accounting': [91, 51690],
      'Finance': [94, 52355],
      'Info Mgmt': [100, 57350],
      'Marketing': [96, 42968],
      'Ops Mgmt': [93, 49279]}

## Q3b (3 points)
### In the next cell write the code to show all the keys from the `ug` dictionary

In [57]:
for key in ug.keys():
    print(key)

Accounting
Finance
Info Mgmt
Marketing
Ops Mgmt

## Q3c (3 points)
### In the next cell write the code to show all the values from the `ug` dictionary

In [58]:
for v in ug.values():
    print(v)

[91, 51690]
[94, 52355]
[100, 57350]
[96, 42968]
[93, 49279]

## Q3d (3 points)
### In the next cell write the code to show all the keys and their values from the `ug` dictionary

In [60]:
for (k,v) in ug.items():
    print(f'{k}, {v}')

Accounting, [91, 51690]
Finance, [94, 52355]
Info Mgmt, [100, 57350]
Marketing, [96, 42968]
Ops Mgmt, [93, 49279]

## Q3e (3 points)
### In the next cell return the starting salary for 'Info Mgmt' majors
>- Must use dictionary syntax (don't just look at the table and type the number)

In [61]:
ug['Info Mgmt'][1]

57350

## Q3f (3 points)
### In the next cell return the placement rate for 'Marketing' majors
>- Must use dictionary syntax (don't just look at the table and type the number)

In [62]:
ug['Marketing'][0]

96

## Q3g (9 points)
### In the next cell, write code to calculate the average salaries and placement rates
>- Note: Don't return any output in the next cell, just the code to calculate and store the averages.
>- Round your averages to 2 decimal places.

In [93]:
sumPlace = 0
sumSal = 0

for k in ug:
    sumPlace += ug[k][0]
    sumSal += ug[k][1]
    avgPlace = round(sumPlace/len(ug),2)
    avgSal = round(sumSal/len(ug),2)

### In the next cell print out the values for the average salaries and placement rates

In [95]:
print(f'The average placement rate is {avgPlace:.2f}%')
print(f'The average Salary is ${avgSal:.2f}')

The average placement rate is 94.80%
The average Salary is $50728.40

# Q4 (20 points)
## Executive Summary Statement
### In the next cell, write code to nicely print out the following results in complete sentences
Your statement should include:

1. The total sample size (i.e., degrees) found in the `ug` dataset 
2. The average salaries across all majors from the `ug` dataset
3. The average placement rate across all majors
4. Start your statement with the following text: 

"Dear Dean Matusik, here is a quick summary of results regarding placement rates and salaries:"

In [96]:
degrees = len(ug)

titles = []
for k in ug.keys():
    titles.append(k)

print(f'''Dear Dean Matusik, 
  Here is a quick summary of results regarding placement rates and salaries:
  
  Majors analized: {degrees} 
      {titles}
  
  Average starting salary accross all majors: ${avgSal:.2f}
  
  Average placement rate accross all majors: {avgPlace:.2f}%
     ''')

Dear Dean Matusik,
  Here is a quick summary of results regarding placement rates and salaries:

  Majors analized: 5
      ['Accounting', 'Finance', 'Info Mgmt', 'Marketing', 'Ops Mgmt']

  Average starting salary accross all majors: $50728.40

  Average placement rate accross all majors: 94.80%