In [1]:
def grade(practice, quiz, midterm, final):
    final_grade = (practice*.1 + quiz*.4 + midterm*.25 + final*.25)
    return final_grade

In [2]:
grade(100,90,70,85)

84.75

In [3]:
studentInfo = ['firstName', 'lastName', 'favBand', 'major']
studentInfo.index('favBand')

2

In [4]:
studentGrades = [10, 10, 10, 85, 85, 90, 100, 100,100]
studentGrades.index(85)

3

In [5]:
studentGrades = [10, 10, 10, 85, 85, 90, 100, 100,100]
studentGrades[2:5]

[10, 85, 85]

In [7]:
studentGrades = [10, 10, 10, 85, 85, 90, 100, 100,100]
studentGrades[4:]

[85, 90, 100, 100, 100]

In [8]:
studentGrades[2]

10

In [2]:
pizzatop = ['peperoni', 'cheese', 'pineapple', 'saussage', 'bell peppers', 'mushrooms']

'cheese' in pizzatop

True