# BAIM 3220: Final Exam Part 2
## Learning Objectives
1. Analyze data using python
2. Filter and group data
3. Join DataFrames
4. Create calculated columns

# Quiz Directions
>- Use this notebook to write python code to answer questions given in the Canvas `Final: Part 2`
>- Enter your answers to the questions in Canvas based on your python code
>- Note: you may want to copy and paste the text from the Canvas Questions into markdown cells as you work

## General Grading Guidelines
>- 2/3 points for reasonable attempt to solve the problem with python
>>- Show your work for each question under the appropriate header in this notebook.
>>>- You can add/remove code cells as needed but keep all work per question under the appropriate header
>>- You can't put anything down in a code cell and receive credit
>>- A reasonable attempt can include a variety of the following:
>>>- Using python code discussed in class to solve the given problem
>>>- Using python code found from an external source that seems reasonable to solve the given problem
>>>- The python code is clearly on the right track to solving the problem but the code may contain minor errors
>- 1/3 points for correct answer entered on Canvas
>>- Show your work in the notebook but make sure to input the correct answer on Canvas

## Read in a Combined and Cleaned BLS Dataset into a DataFrame
>- If you do not have a combined and cleaned dataset you will need to do that prior to answering the analysis questions
>- You will need to combine and clean the same BLS datasets we worked with earlier in the class
>>- BLS2008.xlsx
>>- BLS2009.xlsx
>>- BLS2010.xlsx
>>- BLS2011.xlsx

In [2]:
import pandas as pd

In [3]:
bls4 = pd.read_excel('../data/bls4yr.xlsx')

# Show your work to answer Canvas questions
>- Use the next cells to answer questions given on the Canvas quiz

# Question 1
### There were several changes made to the detailed occupation categories starting in 2010. In 2009, the OCC code for Training and development managers was 11-3042. What did the code change to in 2010? Type (or copy and paste) the Occupation Code exactly as it shows in the spreadsheet. Your answer must have the form ##-####.

In [4]:
# Training and development managers - list all occ-codes and check the new one 

bls4.loc[bls4['occ_title'] == 'Training And Development Managers'][['year','occ_code']]

      year occ_code
13    2008  11-3042
836   2009  11-3042
1663  2010  11-3131
2482  2011  11-3131

# Question 2
### Which year saw the highest total number employed in Protective service occupations?

In [6]:
bls4.loc[bls4['occ_title'] == 'Protective Service Occupations'][['year','tot_emp']].max()

year          2011
tot_emp    3202500
dtype: int64

# Question 3
### In the category Building and grounds cleaning and maintenance occupations, how many were employed at the highest point for the years 2008 to 2011? Enter your response without commas

In [8]:
# Building And Grounds Cleaning And Maintenance Occupations
# use tot_emp.max()

bls4.loc[bls4['occ_title'] == 'Building And Grounds Cleaning And Maintenance Occupations'][['tot_emp']].max()

tot_emp    4429870
dtype: int64

# Question 4
### What was the lowest mean annual wage for Office and administrative support occupations between 2008 and 2011? Enter your response without commas or dollar signs.

In [9]:
# Office And Administrative Support Occupations
# a_mean min

bls4.loc[bls4['occ_title'] == 'Office And Administrative Support Occupations'][['a_mean']].min()

a_mean    32220.0
dtype: float64

# Question 5
### How did the mean annual wage for Community and social services occupations rank out of all 22 major occupations in 2009? Rank from highest to lowest where rank = 1 means the occupations with the highest mean annual wage.

In [10]:
# Community And Social Service Occupations

majors2009 = pd.DataFrame(bls4[(bls4.year == 2009) & (bls4.group == 'major')])

sorted2009 = majors2009.sort_values('a_mean', ascending=False)
sorted2009.reset_index(inplace=True)

print(sorted2009.loc[sorted2009['occ_title'] == 'Community And Social Service Occupations'].index + 1)
    #add 1 so that rank 1 = highest instead of 0

Int64Index([11], dtype='int64')

# Question 6
### For jobs that had total employment between 500,000 and 1,000,000 in 2011, which job category had a percentage growth in employment from 2010 to 2011 equal to -0.33%? Type (or copy and paste) the Occupation Code exactly as it shows in the spreadsheet. Your answer must have the form ##-####.

In [11]:
# Add column to store growth 
bls4['pct_growth_tot_emp'] = round(bls4.sort_values(['year']).groupby('occ_code')[['tot_emp']].pct_change() * 100,2)
#bls4.tail()

# Filter to 500,000 - 1,000,000 in 2011

bls2011_filtered = bls4.loc[(bls4['tot_emp'] >= 500000) & (bls4['tot_emp'] <= 1000000) & (bls4['year'] == 2011)]
#bls2011_filtered.head()

# Find job with -3.43% growth 
bls2011_filtered.loc[bls2011_filtered['pct_growth_tot_emp'] == -0.33]

,year,occ_code,occ_title,group,tot_emp,emp_prse,h_mean,a_mean,mean_prse,h_pct10,...,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,pct_growth_tot_emp
2869,2011,35-9021,Dishwashers,detail,504280,0.9,9.06,18840.0,0.3,7.71,...,9.49,11.19,16040.0,17080.0,18360.0,19730.0,23280.0,NaN,NaN,-0.33