# BAIM 3220: `pandas` quiz 10
## Learning Objectives
1. Analyze data using python
2. Filter and group data
3. Create a function for quick metadata output
4. Join DataFrames
5. Create calculated columns

# Quiz Directions
>- Use this notebook to write python code to answer questions given in the Canvas `Quiz 10: BLS2`
>- Enter your answers to the questions in Canvas based on your python code

## `Note: You don't have to use all of the code cells shown in the notebook and you can create more if you need to. The main thing is you show how you got your answers using Python.` 

## General Grading Guidelines
>- 1/3 points for a reasonable attempt (you can't just put anything down and receive credit), 1/3 points for correct answer, 1/3 points for showing work in python
>>- In other words, you can only earn 2/3 worth of points if your answer is correct in Canvas but you do not show python code

# Question 0
## Intial DataFame Steps
>- 10 Points total for reading in and showing the DataFrame's metadata using a custom function

## Read the Clean BLS Data into a DataFrames

In [142]:
import pandas as pd

In [143]:
bls4 = pd.read_excel('../data/bls4yr.xlsx') #no index for now, might add the multiindex later with , index_col=[0,1,2]

### In the next code cell, create a function called, `dfinfo()` that will show the shape, datatypes, and first 5 rows of the DataFrame when you call it and pass a DataFrame to it
>- This is something that could save you time when working at a job with a lot of datasets
#### Function Specifications
1. Name the function dfinfo()
2. The function should accept only one parameter, a dataframe object
3. Include a line space in between the shape, datatypes, and header rows
4. Include printed text to show what each piece of information is showing
>- For example, include some text that something like "The number of rows and records are: " then show the shape of the DataFrame

In [144]:
def dfinfo(df):
    print(f'The DataFrame you passed has {df.shape[0]} rows and {df.shape[1]} columns') #show the shape
    
    print(f'\nThe data types in the DataFrame are: \n{df.dtypes}') #show the data types
    
    print(f'\nThe first 5 rows of the DataFrame are: \n{df.head(5)}') #show the first 5 rows

#### Call your function in the next cell and pass the bls4 DataFrame to it to check out your DataFrame metadata

In [145]:
dfinfo(bls4)

The DataFrame you passed has 3284 rows and 21 columns

The data types in the DataFrame are:
year           int64
occ_code      object
occ_title     object
group         object
tot_emp        int64
emp_prse     float64
h_mean       float64
a_mean       float64
mean_prse    float64
h_pct10      float64
h_pct25      float64
h_median     float64
h_pct75      float64
h_pct90      float64
a_pct10      float64
a_pct25      float64
a_median     float64
a_pct75      float64
a_pct90      float64
annual       float64
hourly       float64
dtype: object

The first 5 rows of the DataFrame are:
   year occ_code                        occ_title   group    tot_emp  \
0  2008  00-0000                  All Occupations   total  135185230
1  2008  11-0000           Management Occupations   major    6152650
2  2008  11-1011                 Chief Executives  detail     301930
3  2008  11-1021  General And Operations Managers  detail    1697690
4  2008  11-1031                      Legislators  detail      64650

   emp_prse  h_mean    a_mean  mean_prse  h_pct10  ...  h_median  h_pct75  \
0       0.1   20.32   42270.0        0.1     8.02  ...     15.57    24.78
1       0.2   48.23  100310.0        0.2    20.40  ...     42.15    60.74
2       0.7   77.13  160440.0        0.5    33.02  ...     76.23      NaN
3       0.3   51.91  107970.0        0.2    21.83  ...     44.02    65.87
4       1.2     NaN   37980.0        1.1      NaN  ...       NaN      NaN

   h_pct90  a_pct10   a_pct25  a_median   a_pct75  a_pct90  annual  hourly
0    37.99  16680.0   21590.0   32390.0   51540.0  79020.0     NaN     NaN
1      NaN  42440.0   60500.0   87670.0  126330.0      NaN     NaN     NaN
2      NaN  68680.0  102080.0  158560.0       NaN      NaN     NaN     NaN
3      NaN  45410.0   62900.0   91570.0  137020.0      NaN     NaN     NaN
4      NaN  14080.0   15350.0   16920.0   51120.0  81170.0     1.0     NaN

[5 rows x 21 columns]

# Show your work to answer Canvas questions
>- Use the next cells to answer questions on the Canvas quiz
>- The general questions are replicated in the notebook for convenience but note that Canvas will randomly choose specific (but different) parameters for each student
>>- For example, in this notebook you will see things like `(Canvas generated occupation)` in the question text but on Canvas you will see the actual occupation to analyze.

# Question 1
### There were several changes made to the detailed occupation categories starting in 2010. In 2009, the OCC code for `(Canvas generated occupation)` was `xx-xxxx`.  `Special Education Teachers, Middle School` code `25-2042`

### What did the code change to in 2010?

In [146]:
bls4.loc[bls4['occ_title'] == 'Special Education Teachers, Middle School'][['year','occ_code']]

      year occ_code
240   2008  25-2042
1063  2009  25-2042
1884  2010  25-2053
2703  2011  25-2053

# Question 3
###  Which year saw the lowest total number employed in `(Canvas generated)` occupations? ` Installation, Maintenance, And Repair Occupations`

In [147]:
major_titles = bls4['group'] == 'major'
major_titles_all = bls4[major_titles]

inst_maint = major_titles_all.loc[major_titles_all['occ_title'] == 'Installation, Maintenance, And Repair Occupations']\
    [['year','tot_emp']]

inst_maint.loc[inst_maint['tot_emp'].idxmin()]

year          2010
tot_emp    4928960
Name: 2252, dtype: int64

## Question 4
### In the category `(Canvas generated occupation)` , how many were employed at the lowest point for the years 2008 to 2011? Enter your response without commas. `Production Occupations`

In [148]:
bls4.loc[bls4['occ_title'] == 'Production Occupations'][['tot_emp']].max()

tot_emp    9919120
dtype: int64

## Question 5
### What was the highest mean annual wage for `(Canvas generated occupation)` ? Enter your response without commas or dollar signs. ` Legal Occupations`

In [149]:
# max 'a_mean' in Legal Occupations

bls4.loc[bls4['occ_title'] == 'Legal Occupations'][['a_mean']].min()

a_mean    92270.0
dtype: float64

## Question 6
### How did the mean annual wage for `(Canvas generated occupation)` rank out of all 22 major occupations in 2009? Rank from highest to lowest where rank = 1 means the occupations with the highest mean annual wage. `Protective service occupations`

In [150]:
majors2010 = pd.DataFrame(bls4[(bls4.year == 2010) & (bls4.group == 'major')])

sorted2010 = majors2010.sort_values('a_mean', ascending=False)
sorted2010.reset_index(inplace=True)

print(sorted2010.loc[sorted2010['occ_title'] == 'Protective Service Occupations'].index + 1)
    #add 1 so that rank 1 = highest instead of 0

Int64Index([13], dtype='int64')

# Question 7
## For jobs that had total employment between 500,000 and 1,000,000 in 2011, which job category had a percentage growth in employment from 2010 to 2011 equal to `(Canvas Value given on quiz)`? ` -3.43%`

In [151]:
# Add column to store growth 
bls4['pct_growth_tot_emp'] = round(bls4.sort_values(['year']).groupby('occ_code')[['tot_emp']].pct_change() * 100,2)
#bls4.tail()

# Filter to 500,000 - 1,000,000 in 2011

bls2011_filtered = bls4.loc[(bls4['tot_emp'] >= 500000) & (bls4['tot_emp'] <= 1000000) & (bls4['year'] == 2011)]
#bls2011_filtered.head()

# Find job with -3.43% growth 
bls2011_filtered.loc[bls2011_filtered['pct_growth_tot_emp'] == -3.43]

,year,occ_code,occ_title,group,tot_emp,emp_prse,h_mean,a_mean,mean_prse,h_pct10,...,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,pct_growth_tot_emp
2862,2011,35-2021,Food Preparation Workers,detail,775140,1.1,10.07,20950.0,0.4,7.85,...,11.21,13.93,16330.0,17610.0,19270.0,23310.0,28960.0,NaN,NaN,-3.43